@model LTM.School.Core.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h2>学生详情</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RealName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RealName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnrollmnetDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnrollmnetDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Enrollments)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>课程列表</th>
                    <th>课程成绩</th>
                </tr>
                @foreach (var item in Model.Enrollments)
                {
                <tr>
                    <td>@Html.DisplayFor(e => item.Course.Title)</td>
                    <td>@Html.DisplayFor(e => item.Grade)</td>
                </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">编辑</a> |
    <a asp-action="Index">返回列表</a>
</div>
